apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

bases:
  - ../../base

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: tuya-alarm
      spec:
        template:
          spec:
            containers:
            - name: tuya-alarm
              env:
              - name: ENV
                value: "staging"
              image: "sumitroajiprabowo/tuya-alarm:latest"
              resources:
                limits:
                  memory: "384Mi"
                  cpu: "500m"
                requests:
                  memory: "192Mi"
                  cpu: "150m"

replicas:
  - name: tuya-alarm
    count: 1